data/
chrome_profil_mandiri/

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.vscode/

.DS_Store
Thumbs.db

.env
gcp-key.json

models/

data/output/

spark-warehouse/
metastore_db/

logs/
*.log

dashboards/
gcp-key.json

models/*
!models/.gitkeep